h1 {
  text-align: center;
  margin-bottom: 30px;
}
h2 {
  text-align: center;
}
p {
  color: var(--grey-color);
  font-size: 18px;
}
main {
  align-items: center;
  margin-top: 120px;
}
form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 70px;
}
input {
  padding: 15px 0;
  margin-bottom: 25px;
  width: 100%;
  font-size: 22px;
}
input:not([type="submit"]) {
  border: none;
  border-bottom: 1px solid var(--black-color);
}

input:not([type="submit"]):focus {
  border-bottom: 1px solid rgb(0, 104, 232);
}

input[type="submit"] {
  border: none;
}

.splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: splashAnimation 1s ease-in-out forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  font-size: 48px;
}
.splash img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

@keyframes splashAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
